.chat_header{
    background: lightpink;
    height: 6vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.backimg {
  flex: 1
}

.backimg img{
  padding-left: 2vh;
  width: 4.5vh;
}

.header_chat {
  padding-left: 5vh;
  font-weight: bold;
  font-size: 3.5vh;
  font-family: Segoe UI;
  flex: 3
}

.result {
    background: #ebdddd;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2vh;
    padding-top: 2vh;
    overflow: hidden;
    margin-top: 6vh;
    padding-bottom: 7vh;
    
}

.imgclick {
  width: 6vh;
}

.chat_box {
    background: lightblue;
    border-radius: 1.5vh;
    width: auto;
    padding: 1vh;
    margin-bottom: 1vh;
    max-width: 25vh;
    transition: background 1s;
}

.chat_box:hover {
    background: #00B5E4;
}

span {
    display: inline-block;
    font-size: 1.5vh;
    font-style: italic;
}

.chat_text {
    font-size: 3vh;
    font-family: Segoe UI;
    margin: 0.5vh;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    line-height: 4vh;
}

input {
    border: 0;
    border-top: 5px solid silver;
    outline: none;
    width: 100%;
    height: 0.5vh;
    font-size: 3vh;
    padding: 3vh 2vh;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
}
